h1 {
    font-family: "Brush Script MT", Times, serif;
    font-size: 80px;
    margin-top: 4s0px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    text-decoration: underline;
}